div.main {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  font-size: 48px;
  font-weight: bold;
}

.text {
  font-size: 40px;
}

.textDiv {
  margin-bottom: 20px;
}
